.main {
  grid-area: main;
  background: linear-gradient(to bottom, rebeccapurple 0%, mediumorchid 100%);
  display: flex;
  flex-direction: column;
}

.grid {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}
